sources/employee/employee/Service References/ServiceReference1/Server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://myxcode.at/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://myxcode.at/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://myxcode.at/">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="adr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListBookings">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListBookingsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListBookingsResult" type="tns:ArrayOfBooking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBooking">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Booking" nillable="true" type="tns:Booking" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Booking">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Customer" type="tns:Customer" />
          <s:element minOccurs="0" maxOccurs="1" name="Hotel" type="tns:Hotel" />
          <s:element minOccurs="0" maxOccurs="1" name="At" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Duration" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RoomNr" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumAdults" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumChilds" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adr" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tel" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="ToolTip" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Hotel">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Hid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Adr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListBookingsByHid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListBookingsByHidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListBookingsByHidResult" type="tns:ArrayOfBooking" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="at" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="roomNr" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numAdults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numChilds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NewBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="NewBookingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListHotels">
        <s:complexType />
      </s:element>
      <s:element name="ListHotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListHotelsResult" type="tns:ArrayOfHotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotel">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Hotel" nillable="true" type="tns:Hotel" />
        </s:sequence>
      </s:complexType>
      <s:element name="HotelInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HotelInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HotelInfoResult" type="tns:Hotel" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="at" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="duration" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="roomNr" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numAdults" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="numChilds" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditBookingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBooking">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="at" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteBookingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteBookingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ListBookingsSoapIn">
    <wsdl:part name="parameters" element="tns:ListBookings" />
  </wsdl:message>
  <wsdl:message name="ListBookingsSoapOut">
    <wsdl:part name="parameters" element="tns:ListBookingsResponse" />
  </wsdl:message>
  <wsdl:message name="ListBookingsByHidSoapIn">
    <wsdl:part name="parameters" element="tns:ListBookingsByHid" />
  </wsdl:message>
  <wsdl:message name="ListBookingsByHidSoapOut">
    <wsdl:part name="parameters" element="tns:ListBookingsByHidResponse" />
  </wsdl:message>
  <wsdl:message name="NewBookingSoapIn">
    <wsdl:part name="parameters" element="tns:NewBooking" />
  </wsdl:message>
  <wsdl:message name="NewBookingSoapOut">
    <wsdl:part name="parameters" element="tns:NewBookingResponse" />
  </wsdl:message>
  <wsdl:message name="ListHotelsSoapIn">
    <wsdl:part name="parameters" element="tns:ListHotels" />
  </wsdl:message>
  <wsdl:message name="ListHotelsSoapOut">
    <wsdl:part name="parameters" element="tns:ListHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="HotelInfoSoapIn">
    <wsdl:part name="parameters" element="tns:HotelInfo" />
  </wsdl:message>
  <wsdl:message name="HotelInfoSoapOut">
    <wsdl:part name="parameters" element="tns:HotelInfoResponse" />
  </wsdl:message>
  <wsdl:message name="EditBookingSoapIn">
    <wsdl:part name="parameters" element="tns:EditBooking" />
  </wsdl:message>
  <wsdl:message name="EditBookingSoapOut">
    <wsdl:part name="parameters" element="tns:EditBookingResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteBookingSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteBooking" />
  </wsdl:message>
  <wsdl:message name="DeleteBookingSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteBookingResponse" />
  </wsdl:message>
  <wsdl:portType name="ServerSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListBookings">
      <wsdl:input message="tns:ListBookingsSoapIn" />
      <wsdl:output message="tns:ListBookingsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListBookingsByHid">
      <wsdl:input message="tns:ListBookingsByHidSoapIn" />
      <wsdl:output message="tns:ListBookingsByHidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NewBooking">
      <wsdl:input message="tns:NewBookingSoapIn" />
      <wsdl:output message="tns:NewBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListHotels">
      <wsdl:input message="tns:ListHotelsSoapIn" />
      <wsdl:output message="tns:ListHotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HotelInfo">
      <wsdl:input message="tns:HotelInfoSoapIn" />
      <wsdl:output message="tns:HotelInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditBooking">
      <wsdl:input message="tns:EditBookingSoapIn" />
      <wsdl:output message="tns:EditBookingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <wsdl:input message="tns:DeleteBookingSoapIn" />
      <wsdl:output message="tns:DeleteBookingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServerSoap" type="tns:ServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://myxcode.at/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://myxcode.at/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBookings">
      <soap:operation soapAction="http://myxcode.at/ListBookings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBookingsByHid">
      <soap:operation soapAction="http://myxcode.at/ListBookingsByHid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewBooking">
      <soap:operation soapAction="http://myxcode.at/NewBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListHotels">
      <soap:operation soapAction="http://myxcode.at/ListHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HotelInfo">
      <soap:operation soapAction="http://myxcode.at/HotelInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBooking">
      <soap:operation soapAction="http://myxcode.at/EditBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap:operation soapAction="http://myxcode.at/DeleteBooking" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServerSoap12" type="tns:ServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://myxcode.at/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://myxcode.at/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBookings">
      <soap12:operation soapAction="http://myxcode.at/ListBookings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListBookingsByHid">
      <soap12:operation soapAction="http://myxcode.at/ListBookingsByHid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewBooking">
      <soap12:operation soapAction="http://myxcode.at/NewBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListHotels">
      <soap12:operation soapAction="http://myxcode.at/ListHotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HotelInfo">
      <soap12:operation soapAction="http://myxcode.at/HotelInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBooking">
      <soap12:operation soapAction="http://myxcode.at/EditBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBooking">
      <soap12:operation soapAction="http://myxcode.at/DeleteBooking" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Server">
    <wsdl:port name="ServerSoap" binding="tns:ServerSoap">
      <soap:address location="http://localhost/hotel/Server.asmx" />
    </wsdl:port>
    <wsdl:port name="ServerSoap12" binding="tns:ServerSoap12">
      <soap12:address location="http://localhost/hotel/Server.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>